# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
**/venv/
**/.venv/
**/env/

# Environment Variables
.env

# VS Code
.vscode/

# Python cache
.pytest_cache/

# Node
node_modules/

# React build
dist/
build/

# Logs
*.log